.home {
  display: flex;
  justify-content: center;
  &__animation {
    z-index: -1;
    position: absolute;
  }
  &__content {
    top: 50%;
    left: 40%;
  }
  &__slider {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
  }
}
