<div class="home">
  <div class="home__content">
    <app-content-home></app-content-home>
  </div>
  <div class="home__animation">
    <app-animation-home></app-animation-home>
  </div>
  <div class="home__slider">
    <app-slider-home></app-slider-home>
  </div>
</div>
